.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.features-icon {
  color: #2e2f42;
}

.features-title {
  margin-left: 50%;
  margin-bottom: 8px;
  color: #2e2f42;
}

@media (max-width: 1157px) {
  .features-icon-wrap {
    display: none;
  }

  .features-title {
    margin-left: 0px;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
  }

  .features-text {
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-title {
    margin-left: 0px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}
